In [2]:
import logging
import extract
import myGoogleSearch
logging.basicConfig(format='%(asctime)s %(message)s')
logger = logging.getLogger()
logger.setLevel(logging.DEBUG)
ts=myGoogleSearch.go()

2020-11-27 16:26:44,944 Available (files/bois.json)
2020-11-27 16:26:45,040 Data ready

In [6]:
ts[['scoreOwnedDomain', "ownedDomain"]]

      scoreOwnedDomain            ownedDomain
0             0.562500     scierie-provost.fr
1             0.000000                   NONE
2             0.827586       scierie-forey.fr
3             0.739130  scieriebarthelemy.com
4             0.000000                   NONE
...                ...                    ...
1800          0.410256            lesbats.com
1801          0.263158        mediaforest.net
1802          0.529412        bedora-bois.com
1803          0.000000                   NONE
1804          0.000000                   NONE

[1805 rows x 2 columns]

In [4]:
ts.groupby(["groupCA"]).aggregate(['count'],margins=True)

,level_0,index,siren,siret,activite,activiteLong,NAF 732,INTITULÉS 732,categorie,effectif,...,isSearched,linkedIn,nbSearch,domains,isFacebook,isBoisDeFrance,isLinkedIn,ownedDomain,scoreOwnedDomain,groupScoreOwned
,count,count,count,count,count,count,count,count,count,count,...,count,count,count,count,count,count,count,count,count,count
groupCA,,,,,,,,,,,,,,,,,,,,,
"(-0.001, 100.0]",1466,1466,1466,1466,1466,1466,1466,1466,1203,1172,...,1466,1466,1466,1466,1466,1466,1466,1466,1466,1466
"(100.0, 500.0]",54,54,54,54,54,54,54,54,54,48,...,54,54,54,54,54,54,54,54,54,54
"(500.0, 1000.0]",51,51,51,51,51,51,51,51,51,46,...,51,51,51,51,51,51,51,51,51,51
"(1000.0, 2000.0]",77,77,77,77,77,77,77,77,76,70,...,77,77,77,77,77,77,77,77,77,77
"(2000.0, 5000.0]",76,76,76,76,76,76,76,76,76,76,...,76,76,76,76,76,76,76,76,76,76
"(5000.0, 10000.0]",44,44,44,44,44,44,44,44,44,42,...,44,44,44,44,44,44,44,44,44,44
"(10000.0, 20000.0]",23,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,23,23,23,23,23
"(20000.0, 30000.0]",7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
"(30000.0, 900000.0]",7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7

In [ ]:
ld=[]
for d in ts['domains']:
    for i in d:
        ld.append(i)
frequency = {}
for item in ld:
   frequency[item] = ld.count(item)
freqSorted=dict(sorted(frequency.items(), key=lambda item: item[1], reverse=True))
for key, value in freqSorted.items():
   print("% s -> % d" % (key, value))

In [ ]:
ld=[]
dr=[]
for d in ts['ownedDomain']:
    ld.append(d)
frequency = {}
for item in ld:
   frequency[item] = ld.count(item)
freqSorted=dict(sorted(frequency.items(), key=lambda item: item[1], reverse=True))
for key, value in freqSorted.items():
    print("% s -> % d" % (key, value))
    if value >2:
        dr.append(key)
        
print (dr)

In [6]:
ts.pivot(index='groupCA', columns='isFacebook', values='siren')

ValueError: Index contains duplicate entries, cannot reshape

In [1]:
ts

NameError: name 'ts' is not defined

In [6]:
ts.columns

Index(['level_0', 'index', 'siren', 'siret', 'activite', 'activiteLong',
       'NAF 732', 'INTITULÉS 732', 'categorie', 'effectif', 'commune',
       'catJuridique', 'denomination', 'departement', 'CA 1', 'CA 2', 'CA 3',
       'etatAdministratif', 'CA_average', 'search', 'facebook', 'boisDeFrance',
       'isSearched', 'linkedIn', 'nbSearch', 'domains', 'isFacebook',
       'isBoisDeFrance', 'isLinkedIn', 'ownedDomain', 'scoreOwnedDomain',
       'groupCA', 'groupScoreOwned'],
      dtype='object')

In [ ]:
ts.to_json("/tmp/bois_sav.json", orient='index')

In [12]:
mask = ts['scoreOwnedDomain'] < 0.2
ts[mask][['denomination','ownedDomain','scoreOwnedDomain']].sort_values(by=['scoreOwnedDomain'], ascending=False)

,denomination,ownedDomain,scoreOwnedDomain
1363,LES FILS DE MADAME BULLE,annuaire-des-transports.com,0.196078
1339,SOCIETE NOUVELLE GAUVAIN DEMADE,businessprofiles.com,0.196078
202,SOCIETE D'EXPLOITATION HEINTZ ET FILS,rdvartisans.fr,0.196078
1284,SCIERIE INDUSTRIELLE DES PYRENEES ORIENTALES,sipo.fr,0.196078
1630,LEROY DEROULAGE DE CHAMPAGNE,marne.gouv.fr,0.195122
...,...,...,...
606,SCIERIE BESSON,NONE,0.000000
608,INDUSTRIE VOSGIENNE DU BOIS,NONE,0.000000
609,SARL SCIERIE PETEY GILBERT,NONE,0.000000
610,SCIERIE HEMERY,NONE,0.000000
1804,ETABLISSEMENTS PIANETTI,NONE,0.000000